<template>
  <div>
    <div>{{ count }}</div>
    <button @click="increment">+</button>
    <div>
      <form @submit.prevent="AddUser">
        <div>
          <label for="">Name</label>
          <input type="text" v-model="name" />
          <p>{{ name }}</p>
        </div>
        <div>
          <label for="">Age</label>
          <input type="text" v-model="age" />
          <p>{{ age }}</p>
        </div>
        <button class="btn btn-danger">Add</button>
      </form>
    </div>
    <table border="1">
      <thead>
        <th>id</th>
        <th>name</th>
        <th>age</th>
      </thead>
      <tbody>
        <tr v-for="human in humans" :key="human.id">
          <td>{{ human.id }}</td>
          <td>{{ human.name }}</td>
          <td>{{ human.age }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { useCounterStore } from "../stores/productstore";
import { storeToRefs } from "pinia";
import { ref } from "vue";
export default {
  setup() {
    const name = ref();
    const age = ref();
    const store = useCounterStore()

    const userInput = ref({
      name: name,
      age: age,
    });

    const { humans } = storeToRefs(store);
    const { addUser } = store;

    function AddUser() {
      addUser(userInput.value);
      name.value = "";
      age.value = "";
    }

    return {
      humans,
      AddUser,
      userInput,
      name,
      age,
    };
  },
};
</script>
