<template>
  <div>
    <table border="1" v-if="!loading">
      <thead>
        <th>userId</th>
        <th>id</th>
        <th>title</th>
        <th>body</th>
      </thead>
      <tbody>
        <tr>
          <td>{{ user.userId }}</td>
          <td>{{ user.id }}</td>
          <td>{{ user.title }}</td>
          <td>{{ user.body }}</td>
        </tr>
      </tbody>
    </table>
    <div v-else>Loading...</div>
  </div>
</template>

<script>
import { ref } from "vue";
import { useRoute } from "vue-router";
import { onBeforeRouteUpdate } from "vue-router";
import axios from "axios";
import { postFetch } from "../compoasble/data";

export default {
  setup() {
    const route = useRoute();
    const user = ref({});
    const loading = ref(true);
    const { id } = route.params;

    async function getPost(id) {
      try {
        const response = await axios.get(
          `https://jsonplaceholder.typicode.com/posts/${id}`
        );
        user.value = response.data;
        loading.value = false;
      } catch (error) {
        console.error(error);
      }
    }

    onBeforeRouteUpdate((to, from) => {
      if (to.params.id !== from.params.id) {
        loading.value = true;
        getPost(to.params.id);
      }
    });

    getPost(id);

    return {
      user,
      loading,
      id,
      onBeforeRouteUpdate,
      getPost,
    };
  },
};
</script>
