<template>
  <div>
    hello {{ username }}
    <button @click="logout">logout</button>
    <div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import { useRouter } from "vue-router";
export default {
  setup() {
    const router = useRouter();
    const username = ref(window.user);
    function logout() {
      window.user = null;
      router.push({ name: "Login" });
    }
    return {
      logout,
      username,
    };
  },
};
</script>
