<template>
    <div>
      <input v-model="value" type="text" />
      <span>{{ errorMessage }}</span>
    </div>
  </template>
  
  <script>
  import { defineComponent, defineProps, ref } from 'vue';
  import { useField } from 'vee-validate';
  import * as yup from 'yup';
  
  export default defineComponent({
    props: {
      name: {
        type: String,
        required: true,
      },
    },
    setup(props) {
      const value = ref('');
      const errorMessage = ref('');
      
      const { field } = useField(props.name, yup.string().required().min(8));
      
      value.value = field.value;
      errorMessage.value = field.errorMessage;
      
      return {
        value,
        errorMessage,
      };
    },
  });
  </script>
  