<template>
  <div>
    <router-link to="/about">About</router-link>
    <router-link to="/">Home</router-link>
    <router-link to="/data">Data</router-link>
    <router-view> </router-view>
    <MouseTracker />
  </div>
</template>

<script>
import MouseTracker from "./components/MouseTracker.vue";
export default {
  components: {
    MouseTracker,
  },
  setup() {},
};
</script>

<style></style>
